<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
</head>
<body>
    <img src="https://backend-j959.onrender.com/images/logo.png" alt="logo Chepeat" />
    <p>Holaaaa</p>
    <h1>Bienvenido, @Model.Username</h1>
    <p style="background: red;">Estamos encantados de tenerte en nuestra comunidad.</p>
</body>
</html>
